@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titan One', sans-serif;
font-family: 'Titillium Web', sans-serif;

}

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{background-color: black;
width: 100%;
}
.sociais{
    width: 25%;

}

.logo {
    width: 25%;
}

.logo img{
    width: 70px;
    height: 50%;
    cursor: pointer;
}

.menu{
    width: 50%;

}

.menu nav a{
    color: aliceblue;
    text-decoration: none;
    padding-right: 30px;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg,rgb(255, 187, 0) ,rgb(0, 0, 0));
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;

}

.menu nav a:hover::after{
    width: 30px;
}


.feed{
    margin: auto;
    display: flex;

    border-radius: 1em;
    align-items: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    width: 800px;
    height: auto;
    justify-content: center;
    
}


.agendaVictor{
    margin: auto;
    display: flex;
    border-radius: 1em;
    width: 510px;
    height: 45%;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    justify-content: center;

}   


.space {

    margin: 20px;
}




.mensagem-box1 {
    width: 300px;
    padding: 20px;
    border: 1px solid #3d3d3d;
    border-radius: 50px;
    margin: 50px auto;
    text-align: center;
    background-color: black;
  }
  .mensagem-box1 {

    float: left;
    width: 300px; height: 300px;
    margin: 10px 20px;}

.mensagem-box1 img {
        max-width: 100%;
        border-radius: 50%;
        margin-top: 10px;
        width: 70%;
        height: auto;
      }

      .mensagem-box2 {
        width: 300px;
        padding: 20px;
        border: 1px solid #3d3d3d;
        border-radius: 50px;
        margin: 50px auto;
        text-align: center;
        background-color: black;
      }
      .mensagem-box2 {
    
        float: left;
        width: 300px; height: 300px;
        margin: 10px 20px;}
    
    .mensagem-box2 img {
            max-width: 100%;
            border-radius: 50%;
            margin-top: 10px;
            width: 70%;
            height: auto;
          }

          .mensagem-box3 {
            width: 300px;
            padding: 20px;
            border: 1px solid #3d3d3d;
            border-radius: 50px;
            margin: 50px auto;
            text-align: center;
            background-color: black;
          }
          .mensagem-box3 {
        
            float: left;
            width: 300px; height: 300px;
            margin: 10px 20px;}
        
        .mensagem-box3 img {
                max-width: 100%;
                border-radius: 50%;
                margin-top: 10px;
                width: 70%;
                height: auto;
              }



  #container {
    width: 100%;
    border-color: blue;
    text-align: center;
}


.feedtxt{ 
    margin: auto;
    display: flex;
    align-items: center;
    width: 800px;
    height: auto;
    justify-content: center;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
  
      .social-icons {
        background-color: #ffffff;
        padding: 10px;
        text-align: center;
      }
  
      .social-icons a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin: 0 10px;
        font-size: 20px;
      }
  
      .social-icons i {
        vertical-align: middle;
      }

      @media screen and (max-width: 768px) {



        .feed{
            width: auto;
        }
        .feedtxt{
            width: auto;
        }


        .mensagem-box1 {
            position: flex;
top: 0; bottom: 0;
left: 0; right: 0;
margin: auto;

        }
        .mensagem-box2{
            position: absolute;
top: 520px; bottom: 0;
left: 0; right: 0;
margin: auto;

        }
        .mensagem-box3{
            position: absolute;
top: 920px; bottom: 0;
left: 0; right: 0;
margin: auto;

        }
    
    };